@using VgcCollege.Domain.Models
@model FacultyCourse
@{
    ViewData["Title"] = "Remove Staff Assignment";
}

<h2>Remove Staff Assignment</h2>
<hr />

<div class="alert alert-warning">
    Are you sure you want to remove this assignment?
</div>

<dl class="row">
    <dt class="col-sm-3">Faculty Member</dt>
    <dd class="col-sm-9">@Model.Faculty.Name</dd>

    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course.Name</dd>

    <dt class="col-sm-3">Branch</dt>
    <dd class="col-sm-9">@Model.Course.Branch?.Name</dd>

    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9">@(Model.IsTutor ? "Tutor" : "Lecturer")</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" name="facultyId" value="@Model.FacultyProfileId" />
    <input type="hidden" name="courseId" value="@Model.CourseId" />
    <input type="submit" value="Yes, Remove" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
</form>